* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
}

p{
  padding-top: 24px;
  font-size: 16px;
  font-weight: 700;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(25,135,84);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.end-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.d-none {
  display: none;
}

body {
  /* font-family: "Cookie", normal; */
  min-height: 100vh;
}

.quiz-card{
  width: 30rem;
}

.question-footer{
  margin-top: 24px;
  border-top: 1px solid rgba(0,0,0,0.4);
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quiz-answer-card:hover{
  cursor: pointer;
  background-color: rgba(0,0,0,0.05);
}

