body {
  /* font-family: "Cookie", normal; */
  min-height: 100vh;
}

.quiz-card{
  width: 30rem;
}

.question-footer{
  margin-top: 24px;
  border-top: 1px solid rgba(0,0,0,0.4);
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quiz-answer-card:hover{
  cursor: pointer;
  background-color: rgba(0,0,0,0.05);
}

